{
	"DISCORD_TOKEN": "Le token de votre bot provenant de https://discord.com/developers/applications/*/*/bot",
	"CLIENT_ID": "Le client id de votre application provenant de https://discord.com/developers/applications/*/*/oauth2",
	"BETA_GUILD_ID": "L'id de votre serveur de test qui recevra les nouvelles commandes sans délai",
	"FIREBASE_CONFIG": {
		"type": "service_account",
		"project_id": "...",
		"private_key_id": "...",
		"private_key": "...",
		"client_email": "...",
		"client_id": "...",
		"auth_uri": "...",
		"token_uri": "...",
		"auth_provider_x509_cert_url": "...",
		"client_x509_cert_url": "..."
	}
}
